stages:
  - stage: build
    displayName: Build
    pool:
      name: Azure Pipelines
    jobs:
      - job: build
        steps:
          - task: Docker@2
            inputs:
              containerRegistry: 'ghcr'
              repository: 'chadcrockettmot/devops-demo'
              command: 'buildAndPush'
              Dockerfile: '**/Dockerfile'
              tags: '1.0.$(Build.BuildId)'
